/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Changa", sans-serif;
}

body {
  background-color: #f0efea;
}

/* Headrer Style */
header {
  position: relative;
  width: 100%;
  padding: 30px 0px;
}
header .header-bg-layout {
  z-index: -2;
  position: absolute;
  background-color: #03b0ac;
  inset: 0;
  clip-path: polygon(0 0, 55% 0, 45% 100%, 0% 100%);
}
header .header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .header-content .system-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 53%;
  text-align: right;
  background-color: #004e75;
  padding: 10px 30px 10px 50px;
  color: white;
}
header .header-content .right-skew {
  position: relative;
}
header .header-content .right-skew:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -35px;
  display: block;
  width: 70px;
  background: #004e75;
  -webkit-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  transform: skew(-35deg);
}
header .header-content .left-skew {
  position: relative;
}
header .header-content .left-skew:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  display: block;
  width: 60px;
  background: white;
  -webkit-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  transform: skew(-35deg);
}
header .header-content .bardcode-container {
  position: relative;
  width: 150px;
}
header .header-content .bardcode-container img {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 1;
}
header .header-content .department-title-container {
  width: 35%;
  text-align: right;
  background-color: white;
  padding: 10px 30px;
  color: #03b0ac;
  margin: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-content .department-title-container .depratment-logo {
  display: flex;
}
header .header-content .department-title-container .depratment-title {
  margin: 0px 20px;
}

[dir=rtl] header .header-bg-layout {
  clip-path: polygon(100% 0, 55% 0, 45% 100%, 100% 100%);
}
[dir=rtl] header .header-content .right-skew:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: unset;
  left: -35px;
  display: block;
  width: 70px;
  background: #004e75;
  -webkit-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  transform: skew(-35deg);
}
[dir=rtl] header .header-content .left-skew:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -30px;
  display: block;
  width: 60px;
  background: white;
  -webkit-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  transform: skew(-35deg);
}

/* Content Style */
main section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
}
main section .todo-list-card {
  padding: 20px 30px;
  background-color: white;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
main section .todo-list-card .date-day-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section .todo-list-card .date-day-container .date {
  display: flex;
  align-items: center;
  text-align: center;
}
main section .todo-list-card .date-day-container .date h2 {
  font-size: 40px;
}
main section .todo-list-card .date-day-container .day h6 {
  font-size: 20px;
}
main section .todo-list-card .search-input-container input {
  width: 100%;
  border: 2px solid #004e75;
  padding: 5px;
  border-radius: 3px;
}
main section .todo-list-card .todo-list-container {
  height: 200px;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}
main section .todo-list-card .todo-list-container::-webkit-scrollbar {
  width: 6px;
}
main section .todo-list-card .todo-list-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
main section .todo-list-card .todo-list-container::-webkit-scrollbar-track {
  background-color: transparent;
}
main section .todo-list-card .todo-list-container .todo-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
main section .todo-list-card .todo-list-container .todo-list-item .list-item-label {
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}
main section .todo-list-card .todo-list-container .todo-list-item .list-item-label.muted-text {
  color: #868b8f !important;
}
main section .todo-list-card .todo-list-container .todo-list-item .list-item-options {
  display: flex;
  align-items: center;
}
main section .todo-list-card .todo-list-container .todo-list-item .list-item-options input {
  width: 20px;
  height: 20px;
  margin: 0px 10px;
  cursor: pointer;
  accent-color: #004e75;
}
main section .todo-list-card .todo-list-container .todo-list-item .list-item-options .delete-icon {
  cursor: pointer;
  display: flex;
  padding: 5px;
  border: 1.5px solid #004e75;
  border-radius: 3px;
}
main section .todo-list-card .create-btn-container {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .todo-list-card .create-btn-container button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03b0ac;
  border: #03b0ac;
  cursor: pointer;
}

/* Responsive */
/* Extra Small Devices (Phones) */
@media (max-width: 575.98px) {
  header {
    padding: 15px 0px;
  }
  header .header-bg-layout {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .header-content .left-skew:before {
    display: none;
  }
  header .header-content .right-skew:before {
    display: none;
  }
  header .header-content .system-title-container {
    width: 100%;
    padding: 10px 20px;
  }
  header .header-content .bardcode-container {
    width: 75px;
  }
  header .header-content .system-title h2 {
    font-size: 0.8rem !important;
  }
  header .header-content .system-title h4 {
    font-size: 0.5rem !important;
  }
  header .header-content .department-title-container {
    width: 100%;
    padding: 10px 20px 10px 0px;
    margin: 0px;
  }
  header .header-content .department-title-container .depratment-title {
    margin: 0px 5px;
  }
  header .header-content .department-title-container .depratment-title h2 {
    font-size: 0.9rem !important;
  }
  header .header-content .department-title-container .depratment-logo svg {
    height: 2em !important;
  }
  main section .todo-list-card {
    width: 90%;
  }
}
/* Small Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    padding: 15px 0px;
  }
  header .header-content .system-title-container {
    width: 55%;
    padding: 10px 20px;
  }
  header .header-content .bardcode-container {
    width: 75px;
  }
  header .header-content .system-title h2 {
    font-size: 1rem !important;
  }
  header .header-content .system-title h4 {
    font-size: 0.7rem !important;
  }
  header .header-content .department-title-container {
    width: 30%;
    padding: 10px 20px 10px 0px;
    margin: 0px 10px;
  }
  header .header-content .department-title-container .depratment-title {
    margin: 0px 5px;
  }
  header .header-content .department-title-container .depratment-title h2 {
    font-size: 0.9rem !important;
  }
  main section .todo-list-card {
    width: 60%;
  }
}
/* Medium Devices (Laptops and Desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    padding: 15px 0px;
  }
  header .header-content .system-title-container {
    width: 55%;
  }
  header .header-content .bardcode-container {
    width: 100px;
  }
  header .header-content .system-title h2 {
    font-size: 1.4rem !important;
  }
  header .header-content .system-title h4 {
    font-size: 0.9rem !important;
  }
  header .header-content .department-title-container {
    width: 30%;
    padding: 5px 10px;
  }
  header .header-content .department-title-container .depratment-title {
    margin: 0px 10px;
  }
  header .header-content .department-title-container .depratment-title h2 {
    font-size: 1rem !important;
  }
  main section .todo-list-card {
    width: 40%;
  }
}